@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li{
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
    color: #797676;
    padding: 8px;
    
}

header ul li a:hover{
    background-color: #f6d238;
    padding: 15px;
    color: #000;
    transition: padding .4s ease-in-out;
    border-radius: 20px;
    font-weight: bold;
}
section{
    padding: 70px 8%;
}
.logo{
    font-weight: bold;
    font-size: 20px;
}
.logo-div{
    width: 30%;
}
.logo span{
    color: #f6d238;
}

 header ul{
    display: flex;
    gap: 25px;
    justify-content: center;
    width: 40%;
}
.btn-header{
    width: 30%;
    display: flex;
    justify-content: end;
}
.btn{
    color: #000;
    background-color: #f6d238;
    border: 2px solid #f6d238;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.1);
    border-radius: 25px;
    font-size: 15px;
    transition: all .5s;
}
.btn:hover{
    background-color: #f1f1f1;
    transform: rotate(5deg);
}
.btn i{
    padding-right:10px ;
}

/* stylisation de la section de home*/

.home-section{
    width: 100%;
    display:flex;
    justify-content: center;
    
}
.home-left{
    position :relative;
    height: 70%;
    width: 600px;
}
.home-left img{
    position: absolute;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    border-radius: 40px;
    transition: all .5s;
}
.left-image-1{
    width: 400px;
    height: 450px;
}
.left-image-1:hover{
    transform: rotate(10deg) scale(1.1);
}
.left-image-2{
    width: 280px;
    height: 330px;
    top: 120px;
    left: 250px;
}

.left-image-2:hover{
    transform: rotate(-10deg) scale(1.1);
}
.home-right{
    width: 30%;
}
.home-right h3{
    color: #f6d238;
    font-size: 21px;
}
.home-right h1{
    margin: 5px 0;
}
.home-right p{
    color: #797676;
}
.home-btn{
    margin: 15px 0 0 0;
    width: 100%;
    display: flex;
    gap :10px
}
.see-btn{
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #f6d238;
    border-radius: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding:  0 10px;

}
.see-btn .see{
    background: url(./image/img3.jpg);
    height:50px;
    width: 50px;
    position: relative;
    display: inline-block;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0;
    
}
.see-btn i{
    position: absolute;
    background-color: #d15f5f;
    padding: 5px;
    border-radius: 50%;
    left: 60%;

}
.destination-section{
    width: 100%;
}
.destination-section h1{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    margin-bottom: 10px;
}
.desc{
    display: flex;
    width: 100%;
    padding: 20px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1); ;
}
.desc p{
    color: #797676;
}
.desc-btn{
    display: flex;
    justify-content: end;
    width: 30%;
    align-items: center;
}
.desc-btn button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #f6d238;
    background-color: #f6d238;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
}
.gallery{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.gallery .image{
    width: 24%;
    overflow: hidden;
    height: 300px;
    border: 5px solid #fff;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    transition: all .4s;
}
.gallery .image img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    cursor: pointer;
}
.gallery .image .desc-image{
    transform: translateY(350px);
    background-color: #fff;
    padding: 10px;
    text-align: center;
    transition: all .4s;
}
.desc-image h1{

    font-weight: bold;
}

.desc-image p{

    color: #797676;
}

.gallery .image:hover .desc-image{
    transform: translateY(-100px);
}
.gallery .image img:hover{
    transform: translateY(-50px);
    transition: .5s ease-in-out;
}

.percing-section h1{
    text-align: center;
}
.percing-section p{
    margin: 20px 0;
    padding: 0;
    text-align: center;
    color: #797676;
}

.cart-div{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.cart{
    width: 30%;
    overflow: hidden;
    height: 440px;
    border: 5px solid #f1f1f1;
    border-radius:20px;
    padding: 10px;
}
.image-cart {
    width: 100%;
    height: 70%;
    overflow: hidden;
}
.image-cart img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
}
.image-cart img:hover{
    transition: 1s ease;
    transform: scale(1.5) rotate(30deg);
}
.cart-desc button{
    margin-left: 30px;
}

.views-all{
    padding: 40px;
    text-align: center;
}
.reviews-left{
    width: 50%;
}
.reviews-left p{
    color: #797676;
}

.Reviews-section{
    display: flex;
    justify-content: space-between;
}
.reviews-right{
    width: 50%;
}
.reviews-right input{
    width: 70%;
    padding: 16px;
    border: 2px solid #f6d238;
    border-radius: 15px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    outline: none;
}
.reviews-right button{
    position: relative;
    left: -45px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);

}
.reviews-right button:hover{
    transform: rotate(0deg);
}
footer{
    width: 100%;
    text-align: center;
}
footer p{
    color: #797676;
}
footer h2{
    margin-top: 20px;
}

@media(max-width:950px){
    .home-left{
        width: 500px;
        height: 50%;
    }
    .left-image-1{
        width: 300px;
        height: 400px;
    }
    .left-image-2{
        width: 200px;
        height: 280px;
        left: 220px;
    }
    .home-right{
        width: 40%;
    }
    .gallery{
        flex-wrap:wrap;
        padding: 0 40px;
    }
    .gallery .image{
    width:45% ;
    margin-top: 10px;
    justify-content: space-around;
    }

    section{
        padding: 60px 4%;
    }
    .cart-div{
        flex-wrap: wrap;
    }
    .cart{
        width: 45%;
    }
    .Reviews-section{
        flex-direction: column;
        justify-content: center;
    }
    .reviews-left,.reviews-right{
        width: 100%;
        margin: 10px 0;
    }
    .reviews-right{
        text-align: center;
    }
}

@media(max-width:865px){
    header{
        padding: 20px 2%;
    }
}
@media(max-width:730px){
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header ul li a{
        margin: 10px 0;
        display: inline-block;
    }
    .logo-div{
        width: 100%;
        text-align: center;
    }
    .btn-header{
        width: 100%;
        justify-content: center;
    }
    .home-section{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 450px;
        align-items: center;
    }
    .home-left,.home-right{
        width: 100%;
        
    }
    .home-left{
        left: 15%;
    }

    section{
        padding: 70px 1%;
    }
}
@media(max-width:655px){
    .image-cart {
        height: 60%;
    }
}
@media(max-width:550px){
    .home-left{
        left: 9%;
    }
    .gallery{
        flex-direction: column;
        align-items: center;
        padding-top:30px ;
    }
    .gallery .image{
        width: 80%;
    }
    .desc-btn{
        display: none;
    }
    .cart-div{
        flex-direction: column;
        align-items: center;
    }
    .cart{
        width: 80%;
    }
    .image-cart{
        height: 70%;
    }
}
@media(max-width:480px){
    .home-left{
        left: 0%;
    }
    .gallery .image{
        width: 90%;
    }
}
@media(max-width:350px){
    header{
        padding: 20px 0%;
    }
    header ul {
        gap: 0;
    }
    .home-left .left-image-1{
        width: 80%;
        height: 300px;

    }
    .home-left .left-image-2{
        left: 140px;
        width: 50%;
        height: 200px;
        top: 100px;
    }
    section{
        padding: 50px 10px;
    }
    .gallery{
        width: 100%;
        padding: 0;
    }
    .gallery .image{
        width: 98%;
    }
    .cart{
        width: 98%;
    }
    .reviews-right{
        padding: 0;
    }
    .reviews-right input{
        width: 100%;
        position: relative;
    }
    .reviews-right button{
        left: 98px;
        top: -58px;
    }
}